
<!-- small screens navigation bar -->

<div class="nav-mobile-container">
    <nav class="navigation-bar-mobile">
        <div class="logo">
            <a href="/users"><img class="JALogo" src="../images/JournalAnalyticslogo.svg" alt="Journal Analytics Logo"></a>
        </div>
        <div class="hamburger-icon">
            <img data-role="profilepic" class="mobile-user-photo" src='{{pic}}' alt='profile picture'>
            <img src="/../../images/HamburgerIcon.svg" alt="hamburger icon">
        </div>
    </nav>
</div>

<div class="mobile-menu">
    <menu type="context" class="nav-menu-mobile">
        <span><a href="/users">{{navmessage}}{{name}}</a></span>
        <span><a href="/teammembers">Team Management</a></span>
        <span><a href="/eventlist">Team Events</a></span>
        <span><a href="{{navlink2}}">{{navlinktext2}}</a></span>
        <span><a href="{{navlink1}}">{{navlinktext1}}</a></span>
    </menu>
</div>




<!-- large screens navigation bar -->
<nav class="navigation-bar-large">
    
    <div class="logo">
        <a href="/users"><img class="JALogo" src="../images/JournalAnalyticslogo.svg" alt="Journal Analytics Logo"></a>
    </div>
    <menu type="context" class="nav-menu-large">
        <span><a href="/users">{{navmessage}}{{name}}</a></span>
        <span><a href="/teammembers">Team Management</a></span>
        <span><a href="/eventlist">Team Events</a></span>
        <span><a href={{navlink1}}>{{navlinktext1}}</a></span>
        <span><a href="{{navlink2}}">{{navlinktext2}}</a></span>
    </menu>
</nav>