<!-- large screens navigation bar -->
<nav class="navigation-bar-large">
    
    <div class="logo">
        <a href="#"><h4>Journal Analytics</h4></a>
    </div>
    <menu type="context" class="nav-menu-large">
        <span><a href="/user">Welcome, {{name}}</a></span>
        <span><a href="/">Home</a></span>
        <span><a href="{{navlink}}">{{navlinktext}}</a></span>
    </menu>
</nav>
<!-- small screens navigation bar -->

<div class="nav-mobile-container">
    <nav class="navigation-bar-mobile">
        <div class="logo">
            <a href="#"><h4>Journal Analytics</h4></a>
        </div>
        <div class="hamburger-icon">
            <img data-role="profilepic" class="mobile-user-photo" src='{{pic}}' alt='profile picture'>
            <img src="/../../images/HamburgerIcon.svg" alt="hamburger icon">
        </div>
    </nav>
</div>

<div class="mobile-menu">
    <menu type="context" class="nav-menu-mobile">
        <span><a href="/user">Welcome, {{name}}</a></span>
        <span><a href="/">Home</a></span>
        <span><a href="{{navlink}}">{{navlinktext}}</a></span>

        <div class="mobile-info-container">
            
            <!-- Map and Google API containers -->
            <div id="view-name"></div> <!-- PropertyName: DigitalCrafts, ViewName: All Web Site Data -->
            <div id="view-selector-container"></div> <!-- Account, Property, View dropdowns -->
        </div>
        <div class="mobile-selector">
            <div id="active-users-container"></div> <!-- Active users -->
            <h3 class="mobile-sessions-count">Date Range</h3>
            <div id="date-range-selector-container"></div> <!-- Start/End Date selector -->
        </div>
    </menu>
</div>
