

<div class="login-google">
    <span>{{message1}}<a href='{{link}}'>{{linktext}}</a></span>
    <a href='{{link2}}'>{{link2text}}</a>
</div>









<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
{{!-- 
Photo by Carlos Muza on Unsplash

Photo by Štefan Štefančík on Unsplash
// computer
Photo by William Iven on Unsplash


Photo by Tim Mossholder on Unsplash --}}