<div class="login-google">
    <span>{{message1}}<a href='{{link}}'>{{linktext}}</a></span>
    <a href='{{link2}}'>{{link2text}}</a>
</div>








<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 